In [1]:
import csv
import gzip
import os
import scipy.io
import numpy as np

In [33]:
# define MEX directory
matrix_dir = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_feature_bc_matrix"
# read in MEX format matrix as table
mat = scipy.io.mmread(os.path.join(matrix_dir, "matrix.mtx.gz"))

# list of transcript ids, e.g. 'ENSG00000243485'
features_path = os.path.join(matrix_dir, "features.tsv.gz")
feature_ids = [row[0] for row in csv.reader(gzip.open(features_path, mode="rt"), delimiter="\t")]
 
# list of gene names, e.g. 'MIR1302-2HG'
gene_names = [row[1] for row in csv.reader(gzip.open(features_path, mode="rt"), delimiter="\t")]
 
# list of feature_types, e.g. 'Gene Expression'
feature_types = [row[2] for row in csv.reader(gzip.open(features_path, mode="rt"), delimiter="\t")]
barcodes_path = os.path.join(matrix_dir, "barcodes.tsv.gz")
barcodes = [row[0] for row in csv.reader(gzip.open(barcodes_path, mode="rt"), delimiter="\t")]

In [34]:
feature_ids

['Hash451', 'Hash452', 'Hash453', 'Hash454', 'Hash455', 'Hash456']

In [35]:
gene_names

['Hash451_TotalSeqA',
 'Hash452_TotalSeqA',
 'Hash453_TotalSeqA',
 'Hash454_TotalSeqA',
 'Hash455_TotalSeqA',
 'Hash456_TotalSeqA']

In [36]:
np.shape(feature_ids)

(6,)

In [37]:
np.shape(gene_names)

(6,)

In [38]:
np.shape(mat)

(6, 90910)

In [39]:
len(barcodes)

90910

In [40]:
import pandas as pd
 
# transform table to pandas dataframe and label rows and columns
matrix = pd.DataFrame.sparse.from_spmatrix(mat)
matrix = matrix.transpose()

In [41]:
matrix.columns = gene_names
#matrix.columns = barcodes
#matrix.insert(loc=0, column="feature_id", value=feature_ids)
matrix.insert(loc=0, column=" ", value=barcodes)
#matrix.insert(loc=0, column="feature_type", value=feature_types)
matrix

,,Hash451_TotalSeqA,Hash452_TotalSeqA,Hash453_TotalSeqA,Hash454_TotalSeqA,Hash455_TotalSeqA,Hash456_TotalSeqA
0,AAACCCAAGACCATGG-1,176,72,332,13,16,49
1,AAACCCAAGACCTGGA-1,211,68,372,8,19,40
2,AAACCCAAGAGAGCAA-1,193,65,364,7,30,63
3,AAACCCAAGAGATGCC-1,166,88,396,5,23,63
4,AAACCCAAGATGAACT-1,196,68,371,4,30,49
...,...,...,...,...,...,...,...
90905,TTTGTTGTCGCTTAAG-1,219,53,400,6,18,64
90906,TTTGTTGTCGTTGCCT-1,219,117,588,9,37,84
90907,TTTGTTGTCTACGGTA-1,162,61,388,6,20,58
90908,TTTGTTGTCTAGTGTG-1,164,63,301,8,13,36
90909,TTTGTTGTCTCTCTTC-1,177,71,320,10,7,47

In [43]:
matrix.to_csv("/Users/mylenemarianagonzalesandre/Development/Data-cluster/filtered_feature_bc_matrix.csv", index=False)
# save the table as a CSV (note the CSV will be a very large file)
#matrix.to_csv(, index=False)

In [37]:
hto_mat_df = pd.read_csv("/Users/mylenemarianagonzalesandre/Development/Data-cluster/filtered_feature_bc_matrix.csv")

In [38]:
hto_mat_df.head()

,,Hash451_TotalSeqA,Hash452_TotalSeqA,Hash453_TotalSeqA,Hash454_TotalSeqA,Hash455_TotalSeqA,Hash456_TotalSeqA
0,AAACCCAAGACCATGG-1,176,72,332,13,16,49
1,AAACCCAAGACCTGGA-1,211,68,372,8,19,40
2,AAACCCAAGAGAGCAA-1,193,65,364,7,30,63
3,AAACCCAAGAGATGCC-1,166,88,396,5,23,63
4,AAACCCAAGATGAACT-1,196,68,371,4,30,49