In [1]:
from solo import hashsolo
import anndata
import matplotlib.pyplot as plt
import pegasusio as io

In [28]:
#cell_hashing_data = anndata.read("/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_matrix.h5ad")

In [2]:
hto_mat = "/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_feature_bc_matrix"
cell_hashing_data = io.read_input(hto_mat)
hashsolo.hashsolo(cell_hashing_data,priors=[0.05,0.7,0.25])

2022-09-21 16:20:48,037 - pegasusio.text_utils - INFO - Detected mtx file in 10x v3 format.
2022-09-21 16:20:48,296 - pegasusio.readwrite - INFO - mtx file '/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_feature_bc_matrix' is loaded.
2022-09-21 16:20:48,297 - pegasusio.readwrite - INFO - Function 'read_input' finished in 0.41s.

In [3]:
cell_hashing_data.obs.head()

,most_likely_hypothesis,cluster_feature,negative_hypothesis_probability,singlet_hypothesis_probability,doublet_hypothesis_probability,Classification
barcodekey,,,,,,
AAACCCAAGACCATGG,1,0,0.002424,0.966232,0.031344,Hash453_TotalSeqA
AAACCCAAGACCTGGA,1,0,0.000618,0.933815,0.065567,Hash453_TotalSeqA
AAACCCAAGAGAGCAA,1,0,0.000811,0.955767,0.043422,Hash453_TotalSeqA
AAACCCAAGAGATGCC,1,0,0.000320,0.972632,0.027048,Hash453_TotalSeqA
AAACCCAAGATGAACT,1,0,0.000650,0.953025,0.046325,Hash453_TotalSeqA

In [7]:
hashsolo.plot_qc_checks_cell_hashing(cell_hashing_data)
plt.savefig("hash_solo.jpg",dpi=400)

/opt/anaconda3/envs/demul/lib/python3.9/site-packages/solo/hashsolo.py:516: UserWarning: Matplotlib is currently using agg, which is a non-GUI backend, so cannot show the figure.
  plt.show()

In [ ]:
cell_hashing_data.obs.to_csvo

ValueError: X is None, cannot convert to dataframe.

In [20]:
import scanpy as sc
data = sc.read_h5ad("/Users/mylenemarianagonzalesandre/Development/Data-cluster/hto-filtered_matrix.h5ad")

In [21]:
data.to_df()

ValueError: X is None, cannot convert to dataframe.

In [22]:
data_2 = sc.read_h5ad("/Users/mylenemarianagonzalesandre/Development/Data-cluster/Count/filtered_matrix.h5ad")

In [23]:
data_2.to_df()

featurekey,Hash451_TotalSeqA,Hash452_TotalSeqA,Hash453_TotalSeqA,Hash454_TotalSeqA,Hash455_TotalSeqA,Hash456_TotalSeqA
barcodekey,,,,,,
AAACCCAAGACCATGG,176.0,72.0,332.0,13.0,16.0,49.0
AAACCCAAGACCTGGA,211.0,68.0,372.0,8.0,19.0,40.0
AAACCCAAGAGAGCAA,193.0,65.0,364.0,7.0,30.0,63.0
AAACCCAAGAGATGCC,166.0,88.0,396.0,5.0,23.0,63.0
AAACCCAAGATGAACT,196.0,68.0,371.0,4.0,30.0,49.0
...,...,...,...,...,...,...
TTTGTTGTCGCTTAAG,219.0,53.0,400.0,6.0,18.0,64.0
TTTGTTGTCGTTGCCT,219.0,117.0,588.0,9.0,37.0,84.0
TTTGTTGTCTACGGTA,162.0,61.0,388.0,6.0,20.0,58.0
TTTGTTGTCTAGTGTG,164.0,63.0,301.0,8.0,13.0,36.0
TTTGTTGTCTCTCTTC,177.0,71.0,320.0,10.0,7.0,47.0